<p id="notice"><%= notice %></p>

<div id="column-left">
			<%= render 'left_side_bar' %> 
    </div>


    <%= render 'content' %>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
