<%= render 'left_navigation' %>

<%= render 'content' %>

























<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%# form_for @line_item do |f| %>

<%# f.label :quantity %>
<%# f.select :quantity,[1,2, 3, 4, 5,6,7, 8, 9, 10] %><br/>

<%# f.hidden_field :product_id, value: @product.id %>
<%# f.hidden_field :price, value: @product.price %> 

<%# f.submit "Add To Cart" %>

<%# end %>

<%# form_for @whish_list do |f| %>
<%# f.hidden_field :product_id, value: @product.id %>
<%# f.submit "Add To whishlist" %>
<%# end %>



<%# if can? :update, @product %>
	<%# link_to 'Edit', edit_product_path(@product) %> |
<%# end %>

<%# link_to 'Back', products_path %>

<br/><br/>

<h3>Recently Viewd</h3>
<ul>
<%# current_user.recent_views.order('created_at DESC').limit(5).each do |rv| %>
	<li><%# rv.product.name %></li>
<%# end %>
</ul>
 -->